* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Saira+Stencil+One&display=swap');

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 7;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 5555;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

header {
    padding: 0 3%;
    width: 100%;
    height: auto;
    background: url('../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-png {
    width: 40px;
    height: 57px;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li a {
    margin: 0 10px;
    transition: all .3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: block;
    position: relative;
    color: #fff;
}

.nav ul li a:hover {
    color: #FFC700;
}

.close-nav {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: transparent;
    display: none;
}

.burger {
    display: none;
    background: transparent;
    width: 35px;
    height: 20px;
    cursor: pointer;
}

.burger-item {
    display: block;
    background-color: #fff;
    width: 40px;
    height: 5px;
    position: relative;
    border-radius: 50px;
}

.burger-item::before,
.burger-item::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: inherit;
    width: inherit;
    height: inherit;
    border-radius: 1px;
}

.burger-item::before {
    top: 200%;
}

.burger-item::after {
    top: 400%;
}


/* dark light thme */

body {
    transition: .5s;
    background: #fff;
    color: #000;
    font-family: 'Montserrat ', sans-serif;
    font-size: 16px;
}

body.active {
    background: #2b2b2b;
    color: #fff;
}

#toggle {
    position: relative;
    display: block;
    width: 32px;
    height: 16px;
    border-radius: 16px;
    background: #222;
    transition: .5s;
    margin-top: 4px;
    box-shadow: inset 8px 60px rgba(0, 0, 0, 0.1), inset 8px 60px rgba(0, 0, 0, 0.1), inset 8px 60px rgba(0, 0, 0, 0.1), ;
}

#toggle.active {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, .2), inset 0 -4px 4px rgba(255, 255, 255, .2);
    transition: .5s;
}

#toggle.active .indicator {
    background: linear-gradient(to bottom, #444, #222);
    left: 16px;
    box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(255, 255, 255, .1), inset 0 -4px 4px rgba(255, 255, 255, 0.1);
    transition: .5s;
}


/* end dark mode  */

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header-content-left h1 {
    font-family: 'Montserrat ', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    margin-top: 120px;
}

.header-content-left h3 {
    font-family: 'r_KindlyJasmineG';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    color: #FFC700;
    margin: -35px 10px -30px 0;
    text-align-last: right;
}

.pero-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
}

.btn {
    display: block;
    width: 230px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
    border-radius: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .3s;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 130px;
}

.btn:hover {
    color: #0499dd;
    background: transparent;
    border: 1px solid #0499dd;
}

.header-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.social-icon {
    width: 32px;
    margin: 10px 0;
    transition: .3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.slide-card {
    position: absolute;
    right: 10%;
    bottom: -110px;
    height: 227px;
    width: 360px;
    background-image: url('../images/slide1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: auto;
margin-right: 10%; */
    transition: .3s;
    box-shadow: 5px 6px 10px rgb(0 0 0 / 66%);
}

.slide-card:hover {
    transform: scale(1.05);
}

.slide-card img {
    height: 66px;
    width: 66px;
    border-radius: 0px;
}

section {
    height: auto;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 3%;
}

.section-slider {
    margin-top: 150px;
}

.slider-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 60px;
}

.slider-description h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.btn-desc {
    outline: none;
    border: none;
    transition-duration: .4s;
    padding: 5px 10px;
    background: transparent;
    color: inherit;
    border-radius: 60px;
}

.btn-desc:hover {
    background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
    color: #fff;
}

.slider-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.card {
    height: 497px;
    width: 360px;
    border-radius: 10px;
    position: relative;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition-duration: .4s;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 12px;
    margin-top: auto;
}

.card h1 {
    font-size: 14px;
    color: #ffc700;
    line-height: 17px;
}

.card p {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
}

.pi {
    display: block;
    width: auto;
    height: 80px;
    margin: 5px 0 10px 0;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card .btn {
    margin: 10px 0 20px 0;
    height: 40px;
    width: 160px;
    border-radius: 40px;
}

.card .btn a {
    color: #fff;
    font-weight: bold;
    line-height: 15px;
    font-size: 12px;
}

.slider-arrows {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.left-col {
    margin-right: 20px;
    display: flex;
}

.left-col img {
    width: 24px;
    margin: 0 10px;
}

.right-col-item {
    width: 170px;
    height: 0px;
    position: relative;
}

.right-col-item::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 0;
    border: 2px solid #0499DD;
    border-radius: 60px;
}

.about-us {
    margin-top: 80px;
    max-width: 1071px;
    width: 75%;
    height: 749px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(.jpg);
    border-radius: 0px 10px 10px 0px;
    position: relative;
}

.about-us img {
    width: 100%;
    height: 100%;
}

.about-us-panel {
    max-width: 542px;
    max-height: 476px;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    background: #EDEDED;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
}

.about-us-panel h1 {
    font-weight: 700;
    font-size: 24px;
    color: #0499dd;
    line-height: 29px;
    margin-bottom: 20px;
}

.about-us-panel p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin: 20px 0;
}

.description {
    color: #0499dd;
}

.excursion-group {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.excursion-group-inner {
    max-width: 550px;
    height: auto;
}

.excursion-group-inner {
    display: flex;
    margin: 15px 10px;
}

.excursion-group-inner img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.excursion-group-inner h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0499dd;
    margin-bottom: 20px;
}

.excursion-group-inner p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* color: #282828; */
}

.excursion-link {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.excursion-link button {
    margin-bottom: 75px;
}

.excursion-link p {
    font-size: 14px;
    line-height: 17px;
}

.gallery-inner {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-card {
    height: 560px;
    width: 450px;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
}

.gallery-card img {
    width: inherit;
    height: inherit;
    transition: .4s;
}

.gallery-card img:hover {
    transform: scale(1.1);
}

.g-c-one-top {
    width: 100%;
    height: 280px;
}

.g-c-one-bottom {
    display: flex;
    width: 100%;
    height: 268px;
    margin-top: 10px;
    margin-bottom: 0;
}

.g-c-one-b-left {
    width: 100%;
    height: inherit;
    margin-right: 10px;
}

.g-c-one-b-right {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
}

.g-c-one-b-right-top {
    height: 128px;
    width: inherit;
}

.g-c-one-b-right-bottom {
    height: 128px;
    width: inherit;
    margin-top: 10px;
}

.gallery-card-two {
    height: 560px;
    width: 360px;
    border-radius: 5px;
}

.gallery-card-two img {
    width: inherit;
    height: inherit;
}

.gallery-card-three {
    margin-right: 0;
}

.g-c-three-top {
    display: flex;
    width: inherit;
    justify-content: space-between;
    height: 268px;
    margin-bottom: 10px;
}

.three-one {
    height: inherit;
    width: 100%;
    margin-right: 10px;
}

.three-two {
    height: inherit;
    width: 216px;
}

.g-c-three-bottom {
    width: inherit;
    height: 280px;
}

.review-container {
    margin-top: 50px;
}

.review-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.quotation {
    position: absolute;
    width: 197.00000240461495px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.review-card {
    display: flex;
    flex-direction: row;
    width: 520px;
    height: auto;
    margin: 10px;
}

.review-card img {
    height: 245px;
    width: 245px;
    margin-right: 15px;
}

.review-text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 15px;
}

.forest {
    width: 100%;
    height: 640px;
    background-image: url('../images/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 50px;
}


/* send form  */

.container {
    position: absolute;
    top: 0;
    right: 15%;
    background: rgba( 0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37);
    backdrop-filter: blur( 5px);
    -webkit-backdrop-filter: blur( 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px;
    height: 100%;
    width: auto;
    max-width: 560px;
    min-width: 319px;
    color: #fff;
}

.container h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.container button {
    margin: 50px auto 0 auto;
}

input[type=name],
input[type=tel],
input[type=email] {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

input[type=name]:focus,
input[type=tel]:focus,
input[type=email]:focus {
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

 :-ms-input-placeholder {
    color: #fff;
}

 ::-ms-input-placeholder {
    color: #fff;
}

footer {
    padding: 30px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    height: 114px;
    width: 80px;
}

.footer-logo img {
    width: inherit;
    height: inherit;
}

footer ul li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: .3s;
    display: inline-flex;
    align-items: center;
}

footer ul li a:hover {
    color: #FFC700;
}

footer ul li a img {
    width: 20px;
    margin-right: 10px;
}

.footer-social {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-social li a img {
    width: 32px;
    transition: .3s;
}

.footer-social li a img:hover {
    transform: scale(1.1);
}
